
@import 'bootswatch.min.css';

@import './_variables.scss';
@import './footer.scss';
@import './login.scss';



.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
   .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

//////////////////////////////////////////



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

div.container, div.container-fluid {
    margin-top: 20px;
}

div.new-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.new-title h1, div.new-title p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.ad-title .btn {
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 40px;
    max-height: 30px;
}

.avatar-micro {
    max-width: 20px;
    max-height: 20px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: firebrick !important;
}

span.rating i {
    color: goldenrod;
}

.alert a {
    text-decoration: none;
}

.alert .btn {
    color: white;
}

div.dropdown-menu.dopdown-menu-left {
    margin-right: 70px;
}

/**
* page show annonces
**/

div.col.authors-col {
    border: 3px solid rebeccapurple;
    border-radius: 0.85rem;
    box-shadow: 3px solid turquoise;
}

.address {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: $pink;
    filter: saturate(50%);
}

.address-info {
    color: #E6B419;
    font-size: 3rem;
}

.address-street {
    text-decoration: underline;
}

#map {
    /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    height: 400px;
}

#annonce_content {
    width: ;
}