.label-form-login {
    color: #EBF10E;

}

.divlogin {
    position: absolute;
    width: 300;
    background: #D818E7;
    border-radius: 0.95rem;
    box-shadow: border-box;
    top: 50%;
    left: 50%;
    margin: 150px 0 0 150px;
    h1 {
        color: #EBF10E;
    }

    a {
        color: #EBF10E;
    }

    input {
        font-weight: bold;
    }

}
