.label-form-login {
    color: #EBF10E;

}

.divlogin {
    background-: #D818E7;
    border-radius: 0.95rem;
    box-shadow: border-box;
    margin-top: 50px;
    margin-bottom: 400px;
    h1 {
        color: #EBF10E;
    }

    a {
        color: #EBF10E;
    }

    input {
        font-weight: bold;
    }

}
