.label-form-login {
    color: #EBF10E;

}

.divlogin {
    background-image: linear-gradient($pink, $blue, $green);
    border-radius: 0.95rem;
    box-shadow: border-box;
    margin-top: 50px;
    margin-bottom: 400px;
    h1 {
        color: #EBF10E;
    }

    a {
        color: #EBF10E;
    }

    input {
        font-weight: bold;
        //padding: 0 10px 0 10px;
        margin: 0, -20px 0 20px;
    }

}

div.form-group {

}

label.label-form-login {
    
}
