      <!-- FOOTER  Ne pas placer dans le body -->
  <footer class="container">
    <p class="float-right"><a href="#backToTop"><i class="fas fa-angle-up fa-2x"></i></a></p>
    <p>&copy; 2017-2020 Duncanidaho14, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
 
